
<div id="body">
    <div id="search-filter">
        <input class="sf-item" id="input" type="text" name="package" value="{{textSearch}}">
        <a class="sf-item" id="search" href="#">
            <div id="btn-search">🔎</div>
        </a>
        <select id="sort" class="sf-item">
            <option hidden disabled selected>Sắp xếp</option>
            <option id="th" value="th" {{#if sort.th}} selected {{/if}}>Thời hạn</option>
            <option id="hm" value="hm"{{#if sort.hm}} selected {{/if}}>Hạn mức</option>
        </select>
    </div>
    <div id="packages" class="row justify-content-md-center w-100 my-4">
        {{#if packages}}
            {{#each packages}}
                <div class="package col col-md-3 mx-2 my-2 rounded pt-2">
                    <img {{#if this.HinhAnh}} src="{{this.HinhAnh}}" {{else}} src="https://picsum.photos/1400/950" {{/if}} alt="Package image" class="w-100">
                    <div class="content">
                        <div class="name">{{this.TenGoiNYP}}</div>
                        <ul>
                            <li>Mức mua giới hạn: {{this.MucGioiHan}} lần</li>
                            <li>Thời gian giới hạn: {{this.ThoiGianGioiHan}} ngày</li>
                        </ul>                  
                    </div>
                    <div class="detail" >
                        <a href="/package/detail?id={{this.MaGoiNYP}}" class="btn-detail">Xem chi tiết</a>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <div class= "alert alert-success mx-auto">Không có gói sản phẩm phù hợp</div>

        {{/if}}
    </div>
    <div class="row justify-content-md-center mb-4">
        <div id="view-more" class="col col-md-5 btn btn-primary">
            Xem thêm gói sản phẩm
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>